// --------------------------------- mixins ---------------------------------

@import './mixins';

// -------------------------------- variables -------------------------------

// colors
$white: #ffffff;
$black: #000000;
$fontColor: #2e2e2e;
$bgColor: #eff1f3;
$blue: #6981d7;
$lightBlue: #63b3df;
$red: #d7697d;
$gray: #dee2e7;
$textGray: #898e9f;
$lightGray: #e9ecf5;

// ---------------------------------- fonts ---------------------------------

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular,500,600,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:regular,500,600,700&display=swap);

// local fonts
// @import './fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import './set';

// html
html.lock,
html.lock body {
    overflow: hidden;
    touch-action: none;
}
html,
body {
    overflow-x: hidden;
}

// main
main {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

// --------------------------------------------------------------------------

// header / footer
@import './sections/header';
@import './sections/footer';

// ui
@import '../ui/styles/ui.scss';

// --------------------------------------------------------------------------

@import './dev/vzmsk1.scss';
@import './dev/markusDM.scss';
@import './dev/ukik0.scss';
@import './dev/kie6er.scss';
